@charset "UTF-8";



 * {
	margin: 0;
	padding: 0;

}
html {
	scroll-behavior: smooth;

}
body {
	margin:0 auto;
	color: white;
	background-color: black;
	font-family: Monaco, "Courier New";	
	overflow-x: hidden;
}

h2, p{
	margin:0;
	padding:0;
}
h2 {
	font-size:  max(2vw, 20px);
}

a {
	text-decoration: none;
}
a:visited {
	color: white;
}

h1 {
	text-align: center;
	font-weight: 900;
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	transition: box-shadow 0.5s;
	font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1:hover {
	box-shadow: 0 0 5px 6px rgba(255,255,255,0.5)
}

figure {
	display:flex;
	transition: 0.3s;
	max-width: 600px;
	padding: 10px;
	border-radius:20px;
}
.figure-up:hover {
	translate: 0 -20px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 5px #ff07fb;
}
/* Navigation */

#logo {
	width:50px;
	margin: 0 0 0 10px;
	position: absolute;
	top:0;
	left:2px;
	z-index: 0;
}
#gif-cover {
	width: 36px;
	margin: 0 0 0 10px;
	position: absolute;
	top:7px;
	left:9px;
}

.logo-zone:hover #gif-cover {
	opacity:0%;
}
	
.logo-zone {
	padding-left: 60px;
	display:flex;
	align-items: center;
	background-color: white
}
.logo-zone a {
	color: black;
	padding:16px 6px;
}
#logo-link {
	padding: 0;
}
nav {
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0 4px 4px rgba(255,255,255,0.5);
	backdrop-filter: blur(6px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index:10;
}

nav ul {
	display: flex;
	list-style-type: none;
	gap: 8px;
}
nav a {
	padding: 9px;
	border-radius: 10px 0 0 0px;
	color: white;
	border: 1px solid transparent;
}
nav ul a:hover {
	border: 1px solid white;
}
nav ul a:active {
	border:none;
	background-color: #4D4B4B;
}

#nav_links {
	display: flex;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	color: #00fff0;
	font-weight: 600;
}

.media {
	display:flex;
	align-items:center;
}
.media a {
	margin:0;
	padding:3px 10px;
}
.media img {
	height:30px;
}

#selected {
	background-color: #00fff033;
	border-radius:10px;
}
.dropdown {
	position: relative;
	display: none;
}
#burger {
	width: 34px;
	background-color: white;
	border-radius: 10px;
	margin-right: 10px;
	position: relative;
}


#sub_nav {
	padding: 10px 10px;
	margin-top: 13px;
	text-wrap: nowrap;
	display: flex;
	text-align: right;
	flex-direction: column;
	gap: 10px;
	width: 200px;
	font-size: 20px;
	position: absolute;
	right: 0;
	transform: translateX(100%);
	background-color:rgba(0, 0, 0, 0.8);
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	color: #00fff0;
	font-weight: 600;
	transition: 0.3s;
	border-radius: 20px 0 0 20px;
	backdrop-filter: blur(6px);
}
#sub_nav.show {
	transform: translateX(0%);
}
#sub_nav a {
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	display: block;
}

/* First frame */

.landing-top {
	background: linear-gradient(#5E2D60, rgba(0,0,0,0.4), #000000), url('./uph-images/city.jpg');
	display:flex;
	flex-direction:column;
	padding-top: 200px;
	overflow:hidden;
	text-shadow: 0 0 15px #ff5ed7;
}


#speed {
	width: 300px;
	left:0;
	padding-right: 500px;
	animation: speedy 1s;
	animation-fill-mode: forwards;
}
@keyframes speedy {
	from{translate: 0px 0; opacity: 0;}
	to{translate:1000px 0; opacity:1}
}


/* Second frame */
.landing-mid {background: linear-gradient(#000000, #111117);
	padding: 50px 0 100px 0;
}
.F2-content {
	display:flex;
	justify-content: start;
	gap: 5px;
	margin-bottom: 50px;
}
.F2-left-animation {
	flex: 0 0 45%;
	margin-bottom: 40px;
}
.F2-right {
	flex: 0 0 50%;
	padding: 10px;
	font-size: 25px;
	display:flex;
	flex-direction:column;
	gap:15px;
	color: #00fff0;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);


}
.F2-right span{
	background-color: yellow;
	padding: 6px 0;
	color: black;
	width:50%;
	padding-left: 20px;
	border: 4px solid yellow;
	transition: box-shadow 0.3s;
}
.F2-right span:hover {
	box-shadow: 0 0 4px 4px rgba(255,255,0,0.5),0 0 4px 4px rgba(255,255,0,0.5) ;
}
.F2-left{
	display:flex;
	margin: 0 auto;
	flex-direction:column;
	gap: 20px;
	font-size: 20px;
	animation: neon-text 10s linear infinite;
	width: 300px;
}

.F2-left a, #button {
	background-color: rgba(255, 255, 255, 0.8);
	animation: neon 6s linear infinite;
	text-align:center;
	color:black;
	border: 1px solid white;
	margin-top: 30px;
	padding:15px;
	border-radius:20px;
	font-weight: 900;
	transition: background-color 0.5s, border 0.5s, color 0.5s;

}
.F2-left a:hover, #button:hover {
	color:white;
	background-color:black;
	border: 1px solid white;
}
#people {
	width:30px;
}

.events img {
	max-width: 100%;
	object-fit: cover;
}
.events-list {
	display: flex;
	flex-wrap: nowrap;
	animation-duration: 1.5s !important;
	overflow: auto;
	width: 90%;
	gap: 20px;
	scrollbar-width: none;
	padding-left: 10px;
	transition: 0.5s;
	padding-right: 10px;
}
.events {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.events-button {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
.events-button img {
	width: 50px;
	background-color: #00fff0;
	border-radius: 100%;
	border: 1px solid #00fff0;
	transition: 0.1s;
	cursor: pointer;
}
.events-button img:hover {
	background-color:rgb(44, 106, 106);
	border: 1px solid rgb(44, 106, 106);
}
.rounds {
	display: flex;
	gap: 30px;
}
.smol-round {
	width: 10px;
	height: 10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 100%;
	transition: 0.3s;
}
.smol-round:first-child {
	background-color: #00fff0;
}
.event-item {
	flex: 0 0 20%;
	width:100px;
	height: 160px;
	margin: 30px 0;
	position: relative;
	animation: neon 6s linear infinite;
}


.event_wrapper {
	width: 98%;
	height: 50%;
	position:relative;
	margin: 0 auto;
}
.event_wrapper img {
	height: 100%;
	width: 100%;
}
.event_wrapper::after {
		content:'';
	position: absolute;
	bottom:-4px;
	left:0;
	width: 50px;
	height: 4px;
	background: linear-gradient(to right, #00fff0,#ff5ed7);
	transition: 0.3s;
}
.event-text {
	padding: 0 15px;
	height: 45%;
}
.event-item h3 {
	font-size: max(1.3vw,13px);	
	margin-top: 10px;
	padding: 10px 0 5px 0;
	position: relative;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	color: #00fff0;
}
.event-item h3::after{
	content:'';
	position: absolute;
	top: 0;
	right:0;
	width: 50px;
	height: 2px;
	background: linear-gradient(to right, #00fff0,#ff5ed7);
	transition: 0.3s;
}

/* Third frame */
.landing-3 {
	background: linear-gradient(#111117 10%, transparent,#ADE7FF), url('./uph-images/city2.jpg');
	display:flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	gap: 20px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	animation: neon-text 10s linear infinite;
}
.landing-3 h2 {
	margin-top: 30px;
	max-width: min(40rem, 90%);
	text-align: center;
}


.landing-3 img {
	width: 180px;
	position:absolute;
}
#glitch1 {
	right: 100px;
	top: -40px;
	animation: glitch 0.1s 1;
}
#glitch2 {
	left: 100px;
	top: 250px;
	animation: glitch 0.1s 1;
}

@keyframes glitch {50% {translate: 10px -5px} 100% {translate:0px 0}}

#button {
	font-size: 20px;
	border: 1px solid white;
}

.news {
	margin-top: 100px;
	display:flex;
	width: 100%;
	justify-content: center;
}
.img-wrapper img {
	position:relative;
	left:0;
	width:100%;
	height:100%;
	transition: transform 0.3s;
	filter: grayscale(50%);
	object-fit: cover;
}

.img-wrapper::after {
	content:"";
	position: absolute;
	inset:0;
	background: radial-gradient(transparent 30%, rgba(0,0,0,0.5));
	transition: opacity 0.3s;
	opacity:0;
}
.news figure {
	margin:0 30px;
	border-radius: 0;
	padding: 0;
}
#news1 {
	height: 40%;
}

#news2 {
	animation-delay: 0.4s;
}
.news figure a {
	display:flex;
}
.img-wrapper {
	width:280px;
	overflow:hidden;
	position:relative;
	animation: neon 6s linear infinite;
	border-radius: 10px;

}


.news figure:hover img{
	transform: scale(1.1);
}
.news figure:hover ::after{
	opacity:1;
}

.news figcaption {
	width: 70%;
	padding: 10px;
	background-color: rgba(31,82,119,0.5);
	color: #00fff0;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
}
	

#more {
	padding: 10px;
	background-color: yellow;
	border-radius:10px;
	color: black;
	font-weight: 600;
	font-size: 20px;
	align-self: end;
	margin: 0 30px 10px 0;
	transition: box-shadow 0.3s;
}
#more:hover {
	box-shadow: 0 0 4px 4px rgba(255,255,0,0.5)
}
/* Fourth frame */ 
.newsletter {
	background-color: white;
	color: black;
	display:flex;
	flex-direction: column;
	align-items:center;
	padding: 30px 20px;
	font-size: 20px;
}
.newsletter h4 {
	margin:5px;
}

.newsletter form {
	padding-top: 30px;
}

form {
	display:flex;
	align-items: center;
}
form img {
	max-width: 50px;
}
input[type="email"] {
	margin: 0 20px 0 5px;
	font-size: 20px;	
	width: 200px;
}
input[type="submit"] {
	font-size: 20px;
	border-radius:20px;
	padding: 5px 13px;
	background-color: yellow;
	color: black;
	transition: 0.3s;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: black;
	color: white;
	transform: scale(1.1)
}


/* Footer */
footer {
	background-color: #24262b;
	display:flex;
	gap: 40px;
	padding: 20px;
	flex-wrap:wrap;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	color: #00fff0
}
footer hr {
	margin: 0;
}
footer p {
	text-decoration: underline;
}
footer a {
	color: white;
}
footer a:hover {
	color: #8080f8;
}

footer img {
	width: 30px;
}
footer ul {
	margin:0;
}

/* Notre programme */
.background-video {
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	z-index: -1;
	filter: grayscale(80%) blur(5px);
}
.background-video video {
	object-fit: cover;
	height: 100%;
	width:100%;
}
.wrapper h1 {
	text-shadow: 0 0 10px #00fff0;
}
.wrapper {
	padding-bottom: 80px;
	position: relative;
	z-index: 1;
}
.program {
	max-width: 70%;
	margin: 20px auto 0px auto;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: #e3fffd;
	text-shadow: 0 0 10px #00fff0;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px white;
}
.program p {
	padding: 0 30px;
}
#banderolle1 {
	width: 100%;
	max-height: 200px;
	margin-bottom: 10px;
	border-radius: 10px 10px 0 0;
	scroll-margin-top: 70px;
}
#banderolle2 {
	max-width: 100%;
	margin: 30px 0 10px 0;
	scroll-margin-top: 60px;
}
.wrapper {
	box-shadow: 0 15px 10px #00fff0;
	position: relative;
	z-index: 2;
}
.join-us {
	margin: 0;
	background-color: black;
	padding: 50px 0 50px 0;
	position: relative;
	display: flex;
	justify-content: center;
	gap: 70px;
	align-items: center;
	z-index: 1;
}

@keyframes pointing {
	from {transform: translate(-60px, 0)}
	to {transform:translate(50px, 0)}
}

.join-us a {
	background-color: black;
	color: white;
	padding: 15px 20px;
	border-radius: 10px;
	font-size: 28px;
	border: 1px solid #ffffff;
	position: relative;
	animation: neon 6s linear infinite;
	transition: 0.3s;
}
.join-us a:hover {
	transform: scale(1.1);
}

#QR {
	width: max(50%, 110px);
	border-radius: 20px;
	animation: neon 6s linear infinite;
	padding: 10px;
	background-color: black;


}

#arrows {
	width: max(10%, 60px);
	height: 130px;
	animation: pointing 1.5s infinite;
}

.qr-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	gap: 20px;
	color: #ffffff;
	font-weight: 600;
 	text-shadow:0 0 5px #ff5ed7, 0 0 15px rgba(255, 7, 218, 0.5);
	font-size: 20px;
	width: 20%;

}





/* Team page */

.team-wrapper {
	background: linear-gradient(#000000 90%, #7286e8);
	height:100%;
	padding: 80px 0px;
	overflow: hidden;
}
.team-wrapper h1{
	margin:20px 0 2em 0;
	padding:20px 40px;
	font-size: clamp(2.25rem, 4vw, 3rem);
	max-width: max(40%, 280px);
	background: linear-gradient(to right, #00ffeea9, #ff07fba3 );
	color: white;
	border-radius:0 5px 5px 0;
	font-weight: normal;
	text-shadow: none;
	line-height: 1.7em;
	position: relative;
	transition: 0.5s linear;
	animation: soft-neon-text 6s linear infinite;
}

.team-wrapper h1:hover {
	color: white;
	z-index:0;
}

.team-wrapper h1::before {
	content:'';
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius:0 5px 5px 0;
	background-color: black;
	position: absolute;
	transition: width 0.5s;
	box-shadow: 5px 5px 5px #ff07fb, 0px -5px 5px #00fff0;

}

.team-wrapper h1:hover::before {
	width: 100%;
	z-index:-1;
}
.team-wrapper h1::after {
	content: '';
	position: absolute;
	inset: 0;
	height: 110%;
	width: 110%;
	opacity: 0.7;
	background: linear-gradient(to right, #00ffeea9, #ff07fba3 );
	filter: blur(60px);
	z-index: 0;
}
.engagements figure {
	flex-direction: column;
	align-items: center;
	animation: neon 6s linear infinite;
	position: relative;
}
.engagements figure::before {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: linear-gradient(to right, #00ffeea9, #ff07fba3 );
	filter: blur(20px);
	transition: 0.3s;
}
.engagements figure:hover::before {
	opacity: 0.5;
	width: 110%;
	height: 110%;
}

.engagements {
	margin: 0 auto;
	padding: 3em 0;
	position: relative;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	white-space: wrap;
	width: 90%;
	gap: 10%;
	row-gap: 40px;
	z-index: 1;
}

.engagements img {
	max-height:150px;
	width: 100%;
}
.engagements figcaption {
	font-weight: 600;
	padding: 4px 1rem;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.4);
	border-radius:20px;
	animation: soft-neon-text 6s linear infinite;
}
.team-wrapper hr {
	margin: 80px auto;
	width: 50%;
	color: rgba(0,0,0,0.8);
}

/* Leader section */
.leader-section {
	display:flex;
	justify-content: center;
	gap: 50px;
	margin-bottom: 3em;
	padding: 30px 0;
	align-items: center;
	background: radial-gradient( #ff07fb33 20%, transparent);
	transition: background-color 0.7s;
	position: relative;
	z-index: 0;
}
.leader-section:hover {
	background-color: #00ffee27}
.leader-section::after {
	content: '';
	position:absolute;
	top:0;
	left:0;
	width:0%;
	height: 5px;
	background: linear-gradient(to right, #00fff0, #ff07fb, #00fff0);
	filter: blur(2px);
	z-index: -1;
	transition: 0.7s;
}
.leader-section::before {
	content: '';
	position: absolute;
	bottom:0;
	right:0;
	width:0px;
	height: 5px;
	background: linear-gradient(to left, #00fff0, #ff07fb, #00fff0);
	z-index: -1;
	filter: blur(2px);
	transition: 0.7s;

}
.leader-section:hover::before, .leader-section:hover::after {
	width: 100%;
}
.leader-section:hover .leader-caption {
	transform: scale(1.1);
}
.leader-section img {
	max-width: min(40%,250px);
	border-radius: 50%;
	box-shadow: 0 0 15px black;
}
.leader-caption {
	max-width: 40%;
	margin: 0 10px;
	flex: 1 4 40%;
	color: white;
	text-align: center;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius:20px;
	padding: 30px 10px;
	transition: transform 0.7s;
	animation: neon 6s linear infinite, soft-neon-text 10s linear infinite;
}


/* Teamworkers section */
.teamworkers {
	display:flex;
	overflow:auto;
	scrollbar-width: none;
}
.group {
	display: flex;
	margin-top: 60px;
	animation: scrolling 20s linear infinite;
	padding: 10px;
	background: linear-gradient( transparent, #00ffee65, transparent );
}

.group figure {
	flex-direction: column;
	align-items: center;
}
@keyframes scrolling {
	from {translate: 0}
	to {translate: -100%;}
}
.teamworkers img {
	flex: 1 1 auto;
	max-height: 150px;
	max-width: 150px;
	margin: 0 20px;
	text-align:center;
	align-content:center;
}

/* Actualité */

@keyframes neon {
	0% { box-shadow: 0 0 10px 3px #ff5ed7;}
	70% {box-shadow: 0 0 10px 3px #00fff0;}
	100% {box-shadow: 0 0 10px 3px #ff5ed7;}
}

@keyframes neon-text {
	0% {color: #00fff0; text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);}
	70% {color: #ff5ed7;text-shadow:0 0 5px #ff5ed7, 0 0 15px rgba(255, 68, 218, 0.5);}
	100% {color: #00fff0; text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);}
}
@keyframes soft-neon-text {
	0% {text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);}
	70% {text-shadow:0 0 5px #ff5ed7, 0 0 15px rgba(255, 68, 218, 0.5);}
	100% {text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);}
}
.actu-top {
	background: url('./uph-images/news-bg.jpg');
	background-position: center;
	filter: grayscale(0%);
	height : 350px;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid rgb(32,255,255);
	box-shadow: 0 10px 10px rgb(32, 255, 255);
}
.actu-top::after {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.actu-top h1 {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 1px;
	color:#00fff0;
	margin: 60px 0;
	width: 100%;
	padding: 10px 0 ;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	bottom: 0px;
	font-size: 50px;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
}
.actu-top h1:hover {
	box-shadow: 0 0 10px 3px #00fff0;
}

.news-wrapper {
	padding: 20px 40px 10px 40px;
	overflow: hidden;
}
.news-wrapper hr, .neon-hr {
	margin: 50px auto;
	height: 0;
	width: 80%;
	display:block;
	animation: neon 6s linear infinite;

}
.big-news {
	display:flex;
	margin: 20px 10px;
	gap: 20px;
	flex-wrap: wrap;
}
.big-news-img-wrapper {
	max-width: 40%;
	max-height: 500px;
	overflow: hidden;
	display:flex;
	align-items: center;
	position:relative;
	border-radius: 5px;
	animation: neon 6s linear infinite;
	scroll-margin-top: 100px;
}
.big-news-img-wrapper img {
	max-width:100%;
	filter: grayscale(50%);
}

.big-news-text-wrapper {
	padding: 10px;
	width: 55%;
	color: #00fff0;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
}
.big-news-text-wrapper p {
	font-size: 20px;
	text-align: justify;
}
.other-news-intro {
	max-width: 50%;
	margin: 30px auto;
	font-size: 20px;
	text-align: center;
	font-weight: 600;

}
.other-news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 0;
}

.news-item {
	width: 27%;
	height: 280px;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
	animation: neon 6s linear infinite;
}
.zoomIn{
	animation: zoomIn 0.6s linear 1, neon 6s linear infinite;

}
.news-item::after {
	content:'';
	position:absolute;
	display:block;
	inset:0;
	height:100%;
	width:100%;
	background: linear-gradient(135deg, #187a85, #6c0941);
	z-index: -1;
	opacity:0;
	transition: 0.5s;
}
.news-item:hover::after {
	opacity: 100%;
}


 time {
	color: rgb(205, 205, 205);
	padding-right:5px;
	font-style: italic;
	display: block;
	text-align: right;
	font-size: max(1.2vw,10px);
}
.surtitle {
	padding: 5px 0;
	color: #ff8e8e;
	font-weight:600;
}


.news-item h3 {
	font-size: 24px;
	padding: 5px 0 10px 0;
	position: relative;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	color: #00fff0;
}

.news-item h3::after {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width: 50px;
	height: 2px;
	background: linear-gradient(to right, #00fff0,#ff5ed7);
	transition: 0.3s;
}
.news-item:hover h3::after, .event-item:hover .event_wrapper::after, .event-item:hover h3::after{
	width: 100%;
}
.news-item p {
	padding: 10px 0;
}
.news-item button {
	margin: 20px auto 0 auto;
	display: block;
	padding: 5px 10px;
	font-size: 20px;
	position: relative;
	background-color: white;
	z-index: 0;
	color: transparent;
	cursor: pointer;
}
.news-item button:hover::before {
	translate: 15% 15%;
}
.news-item button::before {
	content:'Voir plus';
	display:block;
	color: black;
	position: absolute;
	top:0%;
	left:0%;
	transform: translate(-15% ,-15%);
	width:100%;
	height:100%;
	background-color: rgba(30, 186, 225, 0.7);
	box-shadow: 0 0 5px #176762;
	color:rgb(44, 106, 106);
	z-index: -9;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);

}
.newsletter2 {
	display:flex;
	flex-direction: column;
	align-items:center;
	padding: 30px 20px;
	font-size: 20px;
	color:  #00fff0;
	text-shadow:0 0 5px #63d7cf, 0 0 15px rgba(0, 255, 240, 0.5);
	animation: neon-text 10s linear infinite;

}
.newsletter2 h4 {
	margin:5px;
}

.newsletter2 form {
	padding-top: 30px;
}
.newsletter2 input[type="email"] {
	animation: neon 6s linear infinite;
}
.newsletter2 input[type="submit"] {
	box-shadow: 0 0 10px #00fff0;
	background-color: #00fff0;
	color: black;
	transition: 0.3s;
}
.newsletter2 input[type="submit"]:hover {
	background-color: #01beb2;
}

/* Page Questionnaire */
.join-text h1 {
	color: #00fff0;
	animation: soft-neon-text 10s linear infinite;
}
.join-text p {
	text-align:center;
	margin: 10px auto 0 auto;
	width: 85vw;
	font-weight: 600;
}
#questionnaire {
	position: relative;
	margin: 20px auto;
	width: 60%;
	height: 98vh;
	overflow:visible;
	justify-content: center;
}
.question-box:last-of-type::before {
	content:'Merci de remplir complètent le formulaire';
	opacity: var(--before-opacity, 1);
	transform: scale(var(--before-scale, 0));
	text-align: center;
	padding-top: 10px;
	color: tomato;
	box-shadow: 0 0 10px rgb(196,3,3);
	position:absolute;
	bottom: 20%;
	left:30%;
	font-size: 20px;
	width:max(35%, 200px);
	height:16%;
	background: radial-gradient(#ff000082, rgba(255, 0, 0, 0.126));
	backdrop-filter: blur(5px);
	border: 1px solid rgb(196, 3, 3);
	z-index: 999;
	border-radius: 5px;
	transition: 1s;
}


.question-box h2 {
	font-size: max(2.5vw, 21px);
	padding: 10px 0;
	animation: soft-neon-text 20s linear infinite;
	color: #00fff0;
	background-color: rgba(0, 0, 0, 0.2);
}
.question-box {
	background: url('./uph-images/join-bg.jpg');
	background-size: cover;
	padding: 10px 20px 20px 20px;
	border-radius: 20px;
	position: absolute;
	width: 90%;
	height: 450px;
	top:30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: max(2vw, 24px);
	gap:5px;
	animation: neon 10s linear infinite;
	z-index: 1;
}

.question-box::after, #donation-form::after {
	content:'';
	position:absolute;
	inset:0;
	width:100%;
	height:100%;
	background: radial-gradient(rgba(0, 2, 157, 0.7), rgba(0,0,0,0.5) 90%);
	z-index: -1;
	border-radius:20px;
}
.answers-box {
	padding: 20px 20px 30px 20px;
	background: radial-gradient(#00ffeeab, #00ffee23);
	display: flex;
	flex-direction: column;
	gap:20px;
	width: 90%;
	animation: soft-neon-text 30s linear infinite;
	z-index: 3;
	border-radius: 5px;
	overflow: auto;
	scrollbar-width: none;
}
#transparent-box {
	background: transparent;
	gap: 10px;
}
.individual-box {
	padding: 10px;
	background: radial-gradient(#00ffeeab, #00ffee23);
	display: flex;
	width: 95%;
	flex-direction: column;
	gap:10px;
	height: 100%;
	animation: soft-neon-text 30s linear infinite;
	z-index: 3;
	border-radius: 5px;
}
.answers-box input {
	font-size: 18px;
	padding:3px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #00fff0;
	text-shadow: 0 0 5px #00fff0;
	border: 1px solid #00fff0;
	border-radius: 5px;
	transition: 0.5s;
}
textarea {
	font-size: 18px;
	padding:3px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #00fff0;
	text-shadow: 0 0 5px #00fff0;
	border: 1px solid #00fff0;
	border-radius: 5px;
	height: 50%;
	width: 70%;
	max-height: 50px;
	max-width: 100%;
}
#implants-details-label, #event-ideas-label {
	font-size: 22px;
}
.switch-slide {
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	margin-top: auto;
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items:end;
	height: 6vw;
	border-radius: 0 0 20px 20px;
}
.switch-slide p {
	text-align: center;
	min-width: 24%;
	padding: 8px;
	border-radius: 20px;
	cursor: pointer;
	border: 1px solid #00fff0;
	transition: 0.3s;
	box-shadow: 0 0 10px #00fff0;
	animation: soft-neon-text 20s linear infinite;
}

#question-submit {
	background: radial-gradient(#ff5ed7, #ff5ed746) ;
	text-align: center;
	width: 24%;
	font-size: max(2vw, 18px);
	padding: 8px;
	color: white;
	border: 1px solid #a1019e;
	transition: 0.3s;
	box-shadow: 0 0 10px #ff5ed7;
	animation: soft-neon-text 20s linear infinite;
	position: relative;
	z-index: 0;

}
#question-submit:hover {
	background: radial-gradient(#ff5ed7ba, #ff5ed746) ;
}


.switch-slide p:hover {
	color: black;
	background-color: #00fff0;
	box-shadow: 0 0 10px #00fff0, 0 0 20px #009e94;
	
}
.slideAway {
        transform-origin: 50% 100%;
        transition: 0.5s;
        animation: slideAway 0.5s forwards;
    }

.showSlide {
     display: flex;
}
.slideBack {
    transform-origin: 0% 100%;
    transition: 0.5s;
    animation: slideBack 0.3s forwards;
}
progress::-webkit-progress-bar, progress::-moz-progress-bar {
  background: linear-gradient(to right, #00fff0,rgb(255, 0, 166));
  border-radius: 20px;
}

progress {
	background-color:#0000001a;
	border-radius: 20px;
	height:10px;
	border: 1px solid #006e69;
	box-shadow: 0 0 10px #00fff0;
}
input[type=range] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: min(200px, 30vw);
}
input[type=range]::-moz-range-track,input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(to right,#00fff0,#ff5ed7);
    border-radius: 4px;
}

input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
	background:radial-gradient(#00ffeeab, #00ffee23);
	height: 20px;
	width: 20px;
	border: 2px solid #00fff0;
	box-shadow: 0 0 5px #00fff0;
}
input[type=radio] {
			appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid black;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 10px #00fff0;
            cursor: pointer;
			padding:5px;
}
 input[type=radio]:checked {
     background:radial-gradient(#fffb00 50%, transparent);
 }
input[type=checkbox] {
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border-radius: 20%;
}
input[type=checkbox]:checked {
	position: relative;
	background-color: #00fff0;
	box-shadow: 0 0 10px #00fff0;
}
input[type=checkbox]:checked::after {
	top:0;
	left:0;
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background: url('./uph-images/check.png');
	background-size: contain;
	background-repeat: no-repeat;
}
input[type=color] {
	width: 50%;
	height:50px;
}
.question-box span {
	color: rgba(255,0,166);
}
#biology, #independance, #vitesse {
	display: flex;
	gap:10px;
	align-items: center;
}
    @keyframes slideAway {
        0% { rotate:0deg ; opacity:1}
        50% { rotate: 40deg; opacity: 0; translate: 300px 0}
        100% {rotate:180deg; opacity:0.5; translate:0 -100%; z-index:-1}
    }
    @keyframes slideBack {
        0% { rotate:180deg ; opacity:0}
        50% { rotate: 40deg; opacity: 0; translate: 300px 0}
        100% {rotate:0deg; opacity:1;}
    }
@media (max-width: 767px) {
	#nav_links {
		display:none;
	}
	.dropdown, .F2-content, .news figure a {
		display:block;
	}
	main {
		overflow: hidden;
	}

	#gif-cover, #glitch1, #glitch2, #arrows {
		display: none;
	}
	
	.news, .leader-section{
		flex-wrap:wrap;
		gap:30px;
	}
	#transparent-box {
		padding: 0;
		width:100%;
		font-size:13px;
	}
	.program, .img-wrapper figcaption, .other-news-intro {
		max-width: 90%;
		width: 90%;
	}
	.event-text {
		padding: 10px;
		width: 90%;
	}
	.join-us-flex a {
		font-size: 15px;
	}
	.event-item, .engagements figure {
		flex: 0 0 35%;
	}
	.question-box {
		width: 90%;
		
	}
	.big-news-img-wrapper, .img-wrapper{
		max-width: 100%;
		width: 100%;
		height: 100px;
	}
	.news figcaption, #questionnaire {
		width: 99%;
	}
	.news figure, .event-text h3 {
		margin: 0;
	}
	.news-item, .big-news-text-wrapper, .big-news-text-wrapper p{
		max-width: 100%;
		width: 100%;
		text-align: justify;
	}

}

/* Animations */


.F2-left-animation,
.F2-right,
.events-list,
.big-news, 
.engagements,
.join-us
 {
	opacity: 0;
}
.F2-left-animation animate__animated,
.F2-right animate__animated,
.events-list animate__animated,
.big-news animate__animated,
.engagements animate__animated,
.join-us animate__animated
 {
	opacity: 1;
}
